h1 {
    text-align: center;
}

h3 {
    text-align: justify;
    color: red;
}

.legal-disclaimer-title {
    text-align: center;
    color: red;
}

.legal-disclaimer {
    color: black;
    border: 1px solid black;
    margin: 10pt;
    padding: 10pt;
}